{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'assets/images/mygp.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        color: white;
        padding-top: 100px; /* Adjust this for proper spacing */
    }

    .welcome-section {
        text-align: center;
        color: white;
        margin-top: 20px;
    }

    .welcome-section a {
        color: #ffcc00; /* Adjust the link color for better visibility */
        text-decoration: none;
        font-weight: bold;
    }

    .welcome-section a:hover {
        text-decoration: underline;
    }
</style>

<h1>Home Page</h1>

<div class="welcome-section">
   {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Signup</a></p>
{% endif %}

</div>
{% endblock %}
